@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  background: #020617 !important;
  overflow-x: hidden;
}
.glow-card {
  transition: transform .3s ease, box-shadow .3s ease;
}

.glow-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 35px rgba(34, 211, 238, 0.4);
}

